/* Custom CSS for the QR Generator App */

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}


html
body{
    height: 50%;
    background: linear-gradient(
        to right,
        #208FF9 0%,
        #208FF9 50%,
        #021f5b 50%,
        #021f5b 100%
    );
}


/* Container styling */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 50px;
    
}

/* Heading styling */
h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
    background-color: rgb(3, 52, 126);
    border-radius: 10px;
    background-size: 50% 100%;
    
}


h3 {
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
}

#result{
    font-weight: bold;
    font-size: 30px;
    color: rgb(3, 122, 31);
    text-shadow: 2px 1px black;
    display: table;
    margin: 0 auto;
}
/* Form styling */
.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
    display: block;
}

.form-check {
    margin-bottom: 10px;
    
}


.form-check-input {
    margin-right: 10px;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
}

.btn-primary:hover {
    background-color: hwb(211 2% 53%);
}
.btn-danger {
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
}

.btn-success {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: bold;
}
.btn-danger:hover {
    background-color: hwb(0 0% 58%);
}

.btn-success:hover {
    background-color: hwb(135 0% 59%);
}      


.profile-container {
    max-width: 600px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.profile-container h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #007bff;
}

.profile-container p {
    font-size: 1.1em;
    margin: 10px 0;
}

.hobbies-list {
    list-style-type: none;
    padding: 0;
}

.hobbies-list li {
    background-color: #e9ecef;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#meme{
    display: flex; 
    margin: 0 auto; 
    justify-content: center;
}
/* Barcode display styling */


#qrcode {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* video */
video {
    width: 100%;
    height:auto;
  }
/* Media Queries */
@media (max-width: 600px) {
    .container {
        margin: 20px auto;
        padding: 15px;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .btn-primary {
        padding: 8px;
    }
}


.cat {
    position: absolute;
    width: 50px;
    height: auto;
    transition: transform 2s ease, top 2s ease, left 2s ease;
}